.mine {
  .mine-box {
    padding-bottom: 0.6rem;
  }
  .mine-header {
    background: white;
    display: flex;
    align-items: center;
    padding: .2rem;
    .mine-header__avator {
      width: 0.5rem;
      height: 0.5rem;
      margin-right: 0.1rem;
    }
    .mine-header__name {
      font-size: 0.2rem;
    }
  }
  .mine-question__title{
    padding: 0 .2rem;
    font-size: .2rem;
    font-weight: normal;
  }
  .mine-question {
    min-height: 1rem;
  }
}
