.list-item {
  padding: 0.2rem .2rem 0.1rem;
  display: flex;
  justify-content: space-between;
}
.list-item__advatorBox {
  width: 0.3rem;
  height: 0.3rem;
  flex-shrink: 0;
  margin-right: 0.1rem;
  & > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}
.list-item__contentBox {
  flex-grow: 1;
  .list-item__content {
    max-height: 0.4rem;
    overflow: hidden;
    position: relative;
  }
  .list-item__contentCheck {
    position: absolute;
    color: $glc-font-grey-3;
  }
  .list-item__control {
    margin-top: 0.1rem;
    display: flex;
    justify-content: space-between;
  }
  .list-item__control--status {
    color: $glc-font-grey-5;
  }
}
