@import "../../color.scss";
.question-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  .am-tabs {
    height: auto;
    flex: none;
    flex-shrink: 0;
  }
  .question-listbox {
    flex-grow: 1;
  }
}

.selectedIcon {
  color: $glc-green-1;
}
