 /* stylelint-disable */ 
//主色
$glc-green-1: #42c57a;
$glc-green-2: #52cc87;
$glc-green-3: #38bc6d;

//字体色
$glc-font-grey-1: #323233;
$glc-font-grey-2: #525354;
$glc-font-grey-3: #757678;
$glc-font-grey-4: #969799;
$glc-font-grey-5: #b9babd;

//辅助色
$glc-red-1: #fa574b;
$glc-red-2: #f9685d;
$glc-red-3: #de4f43;
$glc-orange-1: #f78502;
$glc-orange-2: #f9b001;
$glc-green-4: #42c57a;
$glc-lake-blue: #00cccd;
$glc-purple: #8276de;
$glc-blue: #5392ff;
$glc-blue-grey-1: #83868f;
$glc-blue-grey-2: #afb0b3;
$glc-light-yellow: #fff7d1;
$glc-light-green: #e6faef;
$glc-light-blue: #e6f3fa;

//中性色
$glc-grey-1: #d7d8db;
$glc-grey-2: #e1e2e6;
$glc-grey-3: #ebecf0;
$glc-grey-4: #f0f1f5;
$glc-grey-5: #f3f4f7;
$glc-grey-6: #f7f8fb;

//提示条
$glc-remind-blue: #d2edfa;
$glc-remind-green: #d2fadf;
$glc-remind-yellow: #faedd2;
$glc-remind-red: #ffeeeb;
$glc-remind-black: #494b4d;
